{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
  <br>
  <div id="messages">
    {% for msg in messages %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('clients.client_progress', username=msg.author.username )}}">{{ msg.author.username }}</a>
            <small class="text-muted">{{ msg.date_posted.strftime('%m/%d, %I:%M%p') }}</small>
          </div>
          <p class="article-content">{{ msg.messageContent }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class='row'>
    <div class="col-md-10">
    <input type="text" class="form-control" id="myMessage">
  </div>
    <div class="col-md-1">
      <!-- for the client chat, client room id is same as the client id. 
        note that this value gets passed in from the backend, and is sent to the javascript. 
       -->
      <div id="client_room_id" style="display: none"> {{client_room_id}} </div>
      <button id="sendbutton" class="btn">Send</button>
    </div>
  </div>
  </div>
{% endblock content %}
{% block tail_js  %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock  %}