{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
	  <div class="media">
	      <h2 class="account-heading">Clients</h2>
	  </div>
	  <div>
	  	{% for client in clients %}
	  	<figure style="display: inline-block;">
          <a class="mr-2" href="{{ url_for('clients.client_progress', username=client.username )}}">
          	<div class="account-img-container rounded">
          		<img class="account-img" src="{{ url_for('static', filename='profile_pics/' + client.image_file) }}">
          	</div>
          	<figcaption style="margin-left: 10px"> {{ client.username }}</figcaption>
          </a>	
         </figure>	 
		{% endfor %}
	  </div>
	</div>
{% endblock content %}