{% extends "layout.html" %}
{% block content %}
{% if tuples %}
{% for tuple in tuples %}
  <article class="media content-section">
    <div class="account-img-container rounded">
      <a class="mr-2" href="{{ url_for('clients.client_progress', username=tuple.image.client.username )}}">
        <img class="account-img" src="{{ url_for('static', filename='profile_pics/' + tuple.image.client.image_file) }}">
      </a>
    </div>
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('clients.client_progress', username=tuple.image.client.username )}}">{{ tuple.image.client.username }}</a>
        <small class="text-muted">{{ tuple.image.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <div class="feed-img-container rounded">
        <img class="feed-img" src="{{ url_for('static', filename=tuple.image.client.username + '/' + tuple.image.image_file) }}">
      </div>
    </div>
      <form method="POST" action = "">
        {{ tuple.form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-group">
            {{tuple.form.rating.label(class="form-control-label")}}
            {%if tuple.form.rating.errors%}
              {{ tuple.form.rating(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in tuple.form.rating.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else%}
              {{tuple.form.rating(class="form-control form-control-lg")}}
            {% endif %}       
          </div>    
        </fieldset>        
        <fieldset class="form-group">
          <div class="form-group">
            {{tuple.form.comment.label(class="form-control-label")}}
            {%if tuple.form.comment.errors%}
              {{ tuple.form.comment(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in tuple.form.comment.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else%}
              {{tuple.form.comment(class="form-control form-control-lg")}}
            {% endif %}       
          </div>    
        </fieldset>
        <div class="form-group">
          {{tuple.form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
  </article> 
{% endfor %}  
{% else %}
<img src="{{ url_for('static', filename='kitten.jpg' )}}">
kitten!
{% endif %}
</div>
{% endblock content %}